/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>
/* #include <stdio.h> */
#include "includes/helper.h"
#include "includes/keypos_42keys.h"

#define ___ &trans

// homerow mods
ZMK_BEHAVIOR(hrm, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <125>;
    global-quick-tap;
    bindings = <&kp>, <&kp>;
)

#define LCA(KEY) &kp LC(LA(KEY))

/* Define home row mods */
#define HLC &hrm LCTRL
#define HRC &hrm RCTRL
#define HLA &hrm LALT
#define HRA &hrm RALT
#define HLG &hrm LGUI
#define HRG &hrm RGUI

/* Define shorter mouse keys */
#define MUP &mmv MOVE_UP
#define MDN &mmv MOVE_DOWN
#define MLT &mmv MOVE_LEFT
#define MRT &mmv MOVE_RIGHT
/* clicks */
#define MLC &mkp LCLK
#define MMC &mkp MCLK
#define MRC &kp RCLK

/* Define media controls */ 
#define VUP &kp C_VOLUME_UP
#define VDN &kp C_VOLUME_DOWN
#define VMT &kp C_MUTE
#define PLAY &kp C_PLAY_PAUSE
#define NEXT &kp C_NEXT
#define PREV &kp C_PREV



/*                                      42 KEY MATRIX / LAYOUT MAPPING

  ╭────────────────────────┬────────────────────────╮ ╭─────────────────────────┬─────────────────────────╮
  │ --   1   2   3   4   5 │  6   7   8   9  10  -- │ │ --- LT4 LT3 LT2 LT1 LT0 │ RT0 RT1 RT2 RT3 RT4 --- │
  │ --  13  14  15  16  17 │ 18  19  20  21  22  -- │ │ --- LM4 LM3 LM2 LM1 LM0 │ RM0 RM1 RM2 RM3 RM4 --- │
  │ --  25  26  27  28  29 │ 30  31  32  33  34  -- │ │ --- LB4 LB3 LB2 LB1 LB0 │ RB0 RB1 RB2 RB3 RB4 --- │
  ╰───────────╮ 36  37  38 │ 39  40  41 ╭───────────╯ ╰───────────╮ LH2 LH1 LH0 │ RH0 RH1 RH2 ╭───────────╯
              ╰────────────┴────────────╯                         ╰─────────────┴─────────────╯             */

// layer shortcuts, must match order in which they are defined below
#define DVORAK 0
#define COLMAK 1
#define QWERTY 2
#define MOV 3
#define SYM 4
#define NUM 5
#define NPD 6
#define FUN 7
#define GAMING 8
#define G_NUM 9
#define G_1 10
#define G_2 11
#define MEDIA 12
#define MCRO 13

/******************** ALPHA LAYER COMBOS ******************************/ 
// Alpha layout switch
ZMK_COMBO(cb_colmak, &to COLMAK, RT1 RT2 RT3 , DVORAK QWERTY)
ZMK_COMBO(cb_dvorak, &to DVORAK, RM1 RM2 RM3 , COLMAK QWERTY)
ZMK_COMBO(cb_qwerty, &to QWERTY, RB1 RB2 RB3 , DVORAK COLMAK)

// Gaming layer
ZMK_COMBO(cb_game, &to GAMING, LB3 LB2 LB1, DVORAK COLMAK QWERTY)

// Delete/backspace combos
ZMK_COMBO(cb_delete, &kp DEL, RM0 RT0, DVORAK COLMAK QWERTY SYM NUM NPD)
ZMK_COMBO(cb_backsp, &kp BSPC, RM1 RT1, DVORAK COLMAK QWERTY SYM NUM NPD)
// Question mark
ZMK_COMBO(cb_question, &kp QMARK, RM2 RT2, DVORAK COLMAK QWERTY)
ZMK_COMBO(cb_exclamation, &kp EXCL, RM3 RT3, DVORAK COLMAK QWERTY)
// Tab
ZMK_COMBO(cb_tab, &kp TAB, LM2 LT2, DVORAK COLMAK QWERTY)
// Esc
ZMK_COMBO(cb_esc, &kp ESC, LM1 LT1, DVORAK COLMAK QWERTY)
// Forward slash
ZMK_COMBO(cb_forward_slh, &kp FSLH, LM4 LT4, DVORAK COLMAK QWERTY)
// Caps word
ZMK_COMBO(cb_capsword, &caps_word, LH2 LH1, DVORAK COLMAK QWERTY)
// F1, F2, F5
ZMK_COMBO(cb_f1, &kp F1, LT4 LT3, DVORAK COLMAK QWERTY)
ZMK_COMBO(cb_f2, &kp F2, LT3 LT2, DVORAK COLMAK QWERTY)
ZMK_COMBO(cb_f5, &kp F5, LT2 LT1, DVORAK COLMAK QWERTY)


/******************** SYMBOL LAYER COMBOS *****************************/ 
ZMK_BEHAVIOR(macro_arrow, macro, // ->
    bindings =  
        <&macro_tap &kp MINUS>, 
        <&macro_tap &kp LS(DOT)>;
)
ZMK_COMBO(cb_arrow, &macro_arrow, RM2 RM3, SYM)
ZMK_COMBO(cb_pipe, &kp PIPE, LM4 LM3, SYM)

/******************** GAMING LAYER COMBOS *****************************/ 
ZMK_COMBO(cb_game_esc, &kp ESC, LT1 LT0, GAMING)
ZMK_COMBO(cb_game_bspc, &kp BSPC, LT4 LT3, GAMING)
ZMK_COMBO(cb_game_enter, &kp ENTER, LB2 LB1, GAMING)

/********************* SHIFTED KEY MODS *******************************/ 
// Shifted colon is semicolon
ZMK_BEHAVIOR(cln_semi, mod_morph,
    bindings = <&kp COLON>,  <&kp SEMI> ;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// Shifted question mark is exclamation mark
ZMK_BEHAVIOR(ques_excl, mod_morph,
    bindings = <&kp QMARK>,  <&kp EXCL> ;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

/********************** COLON MACRO LT ********************************/ 

/* ZMK_BEHAVIOR(lt_colon, hold_tap, */
/*   bindings = <&mo>, <&cln_semi>; */
/* ) */
ZMK_BEHAVIOR(lt_cln, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <125>;
    bindings = <&mo>, <&cln_semi>;
)


/*
  ╭─────────────────────┬────────────────────╮
  │  '   ,   .   p   y  │  f   g   c   r   l │
  │  a   o   e   u   i  │  d   h   t   n   s │
  │  :   q   j   k   x  │  b   m   w   v   z │
  ╰───────╮     sft sym │ ent spc     ╭──────╯
          ╰─────────────┴─────────────╯         */

ZMK_LAYER(dvorak,
     // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
___       &lt NPD SQT    &kp COMMA      &kp DOT      &lt FUN P      &kp Y             &kp F         &kp G         &kp C         &kp R         &kp L        ___ 
     // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
___          HLC A         HLA O        HLG E         &kp U         &kp I             &kp D         &kp H         HRG T         HRA N         HRC S        ___
     // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
___     &lt_cln MCRO 0     &kp Q        &kp J         &kp K         &kp X             &kp B         &kp M         &kp W         &kp V         &kp Z        ___
     // ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                         ___         &sk LSHIFT    &sl SYM          &lt MOV RET    &kp SPC        &none
     //                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
)
/*
  ╭─────────────────────┬────────────────────╮
  │  q   w   f   p   b  │  j   l   u   y   : │
  │  a   r   s   t   g  │  m   n   e   i   o │
  │  z   x   c   d   v  │  k   h   ,   .   ' │
  ╰───────╮     sft sym │ ent spc     ╭──────╯
          ╰─────────────┴─────────────╯         */
ZMK_LAYER(colmak,
     // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
___        &lt NPD Q       &kp W        &kp F       &lt FUN P       &kp B             &kp J         &kp L         &kp U         &kp Y     &lt_cln MCRO 0   ___ 
     // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
___          HLC A         HLA R        HLG S         &kp T         &kp G             &kp M         &kp N         HRG E         HRA I         HRC O        ___
     // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
___          &kp Z         &kp X        &kp C         &kp D         &kp V             &kp K         &kp H       &kp COMMA      &kp DOT       &kp SQT       ___
     // ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                          ___           ___           ___              ___           ___           ___       
     //                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
)
/*
  ╭─────────────────────┬────────────────────╮
  │  q   w   e   r   t  │  y   u   i   o   p │
  │  a   s   d   f   g  │  h   j   k   l   ; │
  │  z   x   c   v   b  │  n   m   ,   .   ' │
  ╰───────╮     sft sym │ ent spc     ╭──────╯
          ╰─────────────┴─────────────╯         */
ZMK_LAYER(qwerty,
     // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
___        &lt NPD Q       &kp W        &kp E       &lt FUN R       &kp T             &kp Y         &kp U         &kp I         &kp O         &kp P        ___ 
     // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
___          HLC A         HLA S        HLG D         &kp F         &kp G             &kp H         &kp J         HRG K         HRA L        HRC SEMI      ___
     // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
___          &kp Z         &kp X        &kp C         &kp V         &kp B             &kp N         &kp M       &kp COMMA      &kp DOT       &kp SQT       ___
     // ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                          ___           ___           ___              ___           ___           ___       
     //                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(move,
     // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
___            MMC          ___           MUP          ___            ___            &kp PG_UP      &kp HOME      &kp UP        &kp END         ___         ___
     // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
___           ___           MLT           MDN          MRT            ___            &kp PG_DN      &kp LEFT     &kp DOWN      &kp RIGHT     &kp RET        ___
     // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
___      &bt BT_SEL 0   &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4         ___         &kp RSHIFT    &kp RGUI      &kp RALT     &kp RCTRL       ___
     // ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                      &bt BT_CLR       MLC            MRC              ___           ___            ___
     //                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
)
/*
  ╭─────────────────────┬────────────────────╮
  │      @   #   $      │      [   ]   %     │
  │  /   \   _   *   `  │  +   {   }   -  =  │
  │              ^      │      (   )   &     │
  ╰───────╮     sft sym │ ent spc     ╭──────╯
          ╰─────────────┴─────────────╯         */
ZMK_LAYER(symbols,
     // ╭──────────────┬───────────────┬───────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
___         &sl MEDIA      &kp AT           &kp HASH       &kp DLLR        ___               ___        &kp LBKT      &kp RBKT      &kp PRCNT       ___        ___
     // ├──────────────┼───────────────┼───────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
___         HLC FSLH       HLA BSLH        HLG UNDER       &kp STAR     &kp GRAVE         &kp PLUS      &kp LBRC      HRG RBRC      HRA MINUS     HRC EQUAL    ___ 
     // ├──────────────┼───────────────┼───────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
___           ___            ___               ___        &kp CARET        ___               ___        &kp LPAR      &kp RPAR       &kp AMPS       ___        ___
     // ╰──────────────┴───────────────┼───────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                               ___           ___           ___             &sl NUM      &kp TAB         ___
     //                                ╰───────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
)
ZMK_LAYER(numbers,
     // ╭──────────────┬───────────────┬───────────────┬─────────────┬───────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
___          &kp F1         &kp F2           &kp F3         &kp F4       &kp F5           &kp F6        &kp F7       &kp F8        &kp F9       &kp F10      ___
     // ├──────────────┼───────────────┼───────────────┼─────────────┼───────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
___         HLC KP_N1      HLA KP_N2       HLG KP_N3      &kp KP_N4    &kp KP_N5        &kp KP_N6     &kp KP_N7     HRG KP_N8     HRA  KP_N9    HRC KP_N0    ___          
     // ├──────────────┼───────────────┼───────────────┼─────────────┼───────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
___       &kp KP_NLCK        ___            &kp DOT        &kp F11        ___              ___         &kp F12         ___           ___           ___       ___
     // ╰──────────────┴───────────────┼───────────────┼─────────────┼───────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                              ___            ___          ___              ___           ___           ___
     //                                ╰───────────────┴─────────────┴───────────╯   ╰─────────────┴─────────────┴─────────────╯
)
/*
  ╭─────────────────────┬────────────────────╮
  │          .          │      7   8   9     │
  │                     │      4   5   6  0  │
  │numlock              │      1   2   3     │
  ╰───────╮             │             ╭──────╯
          ╰─────────────┴─────────────╯         */
ZMK_LAYER(numpad,
     // ╭──────────────┬───────────────┬───────────────┬─────────────┬───────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
___           ___             ___          &kp DOT            ___          ___              ___       &kp KP_N7     &kp KP_N8      &kp KP_N9       ___        ___
     // ├──────────────┼───────────────┼───────────────┼─────────────┼───────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
___        &kp LCTRL       &kp LALT         &kp LGUI         ___          ___              ___        &kp KP_N4     &kp KP_N5      &kp KP_N6    &kp KP_N0     ___
     // ├──────────────┼───────────────┼───────────────┼─────────────┼───────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
___       &kp KP_NLCK         ___             ___            ___          ___              ___        &kp KP_N1     &kp KP_N2      &kp KP_N3       ___        ___
     // ╰──────────────┴───────────────┼───────────────┼─────────────┼───────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                             ___             ___          ___              ___           ___           ___
     //                                ╰───────────────┴─────────────┴───────────╯   ╰─────────────┴─────────────┴─────────────╯
)
/*
  ╭─────────────────────┬────────────────────╮
  │                     │    F1  F2  F3  F4  │
  │                     │    F5  F6  F7  F7  │
  │                     │    F9  F10 F11 F12 │
  ╰───────╮             │             ╭──────╯
          ╰─────────────┴─────────────╯         */
ZMK_LAYER(function,
     // ╭──────────────┬───────────────┬───────────────┬─────────────┬───────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
___           ___             ___             ___            ___          ___              ___         &kp F1         &kp F2        &kp F3       &kp F4       ___
     // ├──────────────┼───────────────┼───────────────┼─────────────┼───────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
___        &kp LCTRL       &kp LALT         &kp LGUI         ___          ___              ___         &kp F5         &kp F6        &kp F7       &kp F8       ___
     // ├──────────────┼───────────────┼───────────────┼─────────────┼───────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
___           ___             ___             ___            ___          ___              ___         &kp F9        &kp F10       &kp F11      &kp F12       ___
     // ╰──────────────┴───────────────┼───────────────┼─────────────┼───────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                             ___             ___          ___              ___           ___           ___
     //                                ╰───────────────┴─────────────┴───────────╯   ╰─────────────┴─────────────┴─────────────╯
)
/*
  ╭─────────────────────┬────────────────────╮
  │ tab q   w   e   r   │                    │
  │  t  a   s   d   f   │                    │
  │shft z   x   c   v   │                    │
  ╰───────╮ b ctrl spc  │             ╭──────╯
          ╰─────────────┴─────────────╯         */
ZMK_LAYER(gaming,
     // ╭──────────────┬───────────────┬───────────────┬─────────────┬───────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
___       &lt G_NUM TAB     &kp Q           &kp W           &kp E        &kp R             ___           ___           ___           ___           ___       ___
     // ├──────────────┼───────────────┼───────────────┼─────────────┼───────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
___        &lt G_1 T        &kp A           &kp S           &kp D        &kp F             ___           ___           ___           ___           ___       ___
     // ├──────────────┼───────────────┼───────────────┼─────────────┼───────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
___        &kp LSHIFT       &kp Z           &kp X           &kp C        &kp V             ___           ___           ___           ___           ___       ___
     // ╰──────────────┴───────────────┼───────────────┼─────────────┼───────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                           &lt G_2 B      &kp LCTRL     &kp SPC            ___       &tog GAMING       ___
     //                                ╰───────────────┴─────────────┴───────────╯   ╰─────────────┴─────────────┴─────────────╯
)
/*
  ╭─────────────────────┬────────────────────╮
  │      +  7   8   9   │                    │
  │      -  4   5   6   │                    │
  │shft     1   2   3   │                    │
  ╰───────╮   ctrl spc  │             ╭──────╯
          ╰─────────────┴─────────────╯         */
ZMK_LAYER(g_num,
     // ╭──────────────┬───────────────┬───────────────┬─────────────┬───────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
___           ___          &kp PLUS       &kp KP_N7      &kp KP_N8     &kp KP_N9             ___           ___           ___           ___           ___       ___
     // ├──────────────┼───────────────┼───────────────┼─────────────┼───────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
___           ___          &kp MINUS      &kp KP_N4      &kp KP_N5     &kp KP_N6             ___           ___           ___           ___           ___       ___
     // ├──────────────┼───────────────┼───────────────┼─────────────┼───────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
___        &kp LSHIFT        ___          &kp KP_N1      &kp KP_N2     &kp KP_N3             ___           ___           ___           ___           ___       ___
     // ╰──────────────┴───────────────┼───────────────┼─────────────┼───────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                             ___          &kp LCTRL     &kp SPC            ___       &tog GAMING       ___
     //                                ╰───────────────┴─────────────┴───────────╯   ╰─────────────┴─────────────┴─────────────╯
)
/*
  ╭─────────────────────┬────────────────────╮
  │      u  i   o   p   │                    │
  │      j  k   l   ;   │                    │
  │shft  m  ,   .   '   │                    │
  ╰───────╮   ctrl spc  │             ╭──────╯
          ╰─────────────┴─────────────╯         */
ZMK_LAYER(g_1,
     // ╭──────────────┬───────────────┬───────────────┬─────────────┬───────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
___           ___           &kp U           &kp I          &kp O         &kp P              ___           ___           ___           ___           ___       ___
     // ├──────────────┼───────────────┼───────────────┼─────────────┼───────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
___           ___           &kp J           &kp K          &kp L       &kp SEMI             ___           ___           ___           ___           ___       ___
     // ├──────────────┼───────────────┼───────────────┼─────────────┼───────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
___        &kp LSHIFT       &kp M          &kp COMMA       &kp DOT     &kp SQT              ___           ___           ___           ___           ___       ___
     // ╰──────────────┴───────────────┼───────────────┼─────────────┼───────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                             ___          &kp LCTRL    &kp SPC              ___       &tog GAMING       ___
     //                                ╰───────────────┴─────────────┴───────────╯   ╰─────────────┴─────────────┴─────────────╯
)
/*
  ╭─────────────────────┬────────────────────╮
  │         i   o       │                    │
  │         k   l       │                    │
  │shft alt ,   .       │                    │
  ╰───────╮   ctrl spc  │             ╭──────╯
          ╰─────────────┴─────────────╯         */
ZMK_LAYER(g_2,
     // ╭──────────────┬───────────────┬───────────────┬─────────────┬───────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
___           ___            ___            &kp T          &kp Y          ___               ___           ___           ___           ___           ___       ___
     // ├──────────────┼───────────────┼───────────────┼─────────────┼───────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
___           ___            ___            &kp G          &kp H          ___               ___           ___           ___           ___           ___       ___
     // ├──────────────┼───────────────┼───────────────┼─────────────┼───────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
___        &kp LSHIFT     &kp LALT          &kp B          &kp N          ___               ___           ___           ___           ___           ___       ___
     // ╰──────────────┴───────────────┼───────────────┼─────────────┼───────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                             ___          &kp LCTRL    &kp SPC              ___       &tog GAMING       ___
     //                                ╰───────────────┴─────────────┴───────────╯   ╰─────────────┴─────────────┴─────────────╯
)
ZMK_LAYER(media,
     // ╭──────────────┬───────────────┬───────────────┬─────────────┬───────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
___           ___             ___             ___            ___          ___              ___           ___           VUP           ___           ___       ___
     // ├──────────────┼───────────────┼───────────────┼─────────────┼───────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
___           ___             ___             ___            ___          ___              ___          PREV           PLAY          NEXT          VMT       ___
     // ├──────────────┼───────────────┼───────────────┼─────────────┼───────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
___           ___             ___             ___            ___          ___              ___           ___           VDN           ___           ___       ___
     // ╰──────────────┴───────────────┼───────────────┼─────────────┼───────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                              ___             ___          ___             ___        &tog MEDIA       ___
     //                                ╰───────────────┴─────────────┴───────────╯   ╰─────────────┴─────────────┴─────────────╯
)
ZMK_LAYER(macros,
     // ╭──────────────┬───────────────┬───────────────┬─────────────┬───────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
___           ___             ___             ___            ___          ___              ___        LCA(KP_N1)   LCA(KP_N2)    LCA(KP_N3)        ___       ___
     // ├──────────────┼───────────────┼───────────────┼─────────────┼───────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
___           ___             ___             ___            ___          ___              ___        LCA(KP_N4)   LCA(KP_N5)    LCA(KP_N6)        ___       ___
     // ├──────────────┼───────────────┼───────────────┼─────────────┼───────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
___           ___             ___             ___            ___          ___              ___        LCA(KP_N7)   LCA(KP_N8)    LCA(KP_N9)        ___       ___
     // ╰──────────────┴───────────────┼───────────────┼─────────────┼───────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                             ___             ___          ___              ___        &tog MCRO       ___
     //                                ╰───────────────┴─────────────┴───────────╯   ╰─────────────┴─────────────┴─────────────╯
)
/* ZMK_LAYER(media, */
/*      // ╭──────────────┬───────────────┬───────────────┬─────────────┬───────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ */
/* ___           ___             ___             ___            ___          ___              ___           ___           ___           ___           ___       ___ */
/*      // ├──────────────┼───────────────┼───────────────┼─────────────┼───────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
/* ___           ___             ___             ___            ___          ___              ___           ___           ___           ___           ___       ___ */
/*      // ├──────────────┼───────────────┼───────────────┼─────────────┼───────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
/* ___           ___             ___             ___            ___          ___              ___           ___           ___           ___           ___       ___ */
/*      // ╰──────────────┴───────────────┼───────────────┼─────────────┼───────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯ */
/*                                              ___             ___          ___              ___          &tog <<LAYER>>          ___ */
/*      //                                ╰───────────────┴─────────────┴───────────╯   ╰─────────────┴─────────────┴─────────────╯ */
/* ) */
